.MultiCarousel {
    float: left;
    overflow: hidden;
    width: 100%;
    /* position:relative; */
    margin: 0px 60px;
}
.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
     text-align: center;
     padding:10px;
     margin:10px;
     background:#f1f1f1;
     color:#666;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position:absolute;
    border-radius:50%;
    /* top:calc(50% - 20px); */
    bottom:18px;
    width:52px !important;
    height: 52px !important;
    box-shadow: 0px 0px 25px #444;
}
 .leftLst {
    left:10px;
}
.rightLst {
    right:10px;
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst .over {
    pointer-events: none;
    background:#ccc;
}
.over {
    outline: 2px solid #ccc !important; 
}
.item {
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align:center;
    letter-spacing:1px;
    color: #fff;
}
.item img {
    transform: scale(140%);
}
.item:not(.selected){
    border:4px solid transparent;
    border-radius: 10px;
}
.selected{
    border:1px solid rgba(255, 165, 0.8);
    border-radius: 10px;
    margin-top:3px;
    /* background: linear-gradient(60deg, #000, #222, #333, #000, #bbb, #000,#000,#000,#bbb, #333, #222, #000); */
    border-radius:10px;
    background: linear-gradient(60deg, #2c3e50, #000000, #2c3e50, #222);
    animation: animatedgradient 20s ease alternate infinite;
    background-size: 400% 400%;
    color: rgba(255, 165, 1);
}
/* .item:active {
        background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
        background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
} */
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.custom_table_background {
    background: linear-gradient(60deg, #2c3e50, #000000, #2c3e50, #222);
    animation: animatedgradient 10s ease alternate infinite;
    background-size: 400% 400%;
}
