h2{
    margin: 0px;
}
img:not(.left-arrow img, .right-arrow img, .header-img){
    width: 75px;
    height: 75px;
    margin:3px 0px;
}
.left-arrow img, .right-arrow img{
    width:50px;
    height: 50px;
}
.header-img{
    width: 25px !important;
    height: 25px !important;
    margin-bottom:3px;
}
table{
    font-size: 21px;
    margin-bottom: 0px !important;
}
.mybtn{
    width: 200px;
    color:white;
    border:none;
    background-color: rgba(5, 5, 5);
    border-radius: 10px 10px 0px 0px;
    margin:5px 0px 0px 0px;
}
.handlebar-nav{
    border:1px solid black;
    border-bottom: none;
    border-radius: 15px 15px 0px 0px;
    background-color: #212529;
    color:white;
    margin-bottom: -1px;
    padding: 3px 0px;
    z-index: 5;
}
#header{
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 10px 4px #191919;
    background-color: #222222;
}
#navbar{
    background-color: #191919;
    box-shadow: 0px 0px 15px 1px #222;
    position: relative;
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: linear-gradient(1deg,#d24e01, #f1b04c, #dc6601,#d24e01,#e27602,#ec9006,#f1b04c,#ec9006, #e27602,#d24e01, #dc6601,#f1b04c, #d24e01);
    border-radius: 20px;
    opacity:0.5;

}
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #444, #d24e01, #f1b04c, #d24e01, #000);
    animation: animatedgradient 20s ease alternate infinite;
    background-size: 120% 120%;
    border-radius: 20px;
    border-top: 1px solid #ec9006;
    border-bottom: 1px solid #ec9006;
}

.jackpot-btn-wrap{
    display:grid;
    width:100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    }
.jackpot-table{
    display:none;
}

